
body{
    text-align: center;
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
}
.ouder{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: lightgreen;
    border: 2px darkred solid;
}

.schattenjager{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkgreen;
}

.vijand{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

.schat{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: gold;
}

.muur{
    width: 50px;
    height: 50px;
    background-color: darkred;
}

.gras{
    width: 50px;
    height: 50px;
    background-color: lightgreen;
}
a {
    background-color: lightgreen;
    color :darkred;
    padding: 15px;
    text-decoration: none;
    border: 2px darkred solid;
    
    
   

}
